@import "cards.css";

:root {
  --color-selection: #0dff55;
  --link-color: #ff4d00;
  --color-code: #0d9eff;
  --color-mute: #696969;
  --code-bg: #f4f4f4;
  --font-serif: Lora, "Palatino Linotype", "Book Antiqua", "New York",
    "DejaVu serif", serif;
  --font-sans: "Open Sans", "Segoe UI", Tahoma, Arial, sans-serif;
  --font-mono: Hack, consolas, Menlo-Regular, Menlo, Monaco, "ubuntu mono",
    monospace, monospace;
}

::selection {
  background-color: var(--color-selection);
}

html,
body,
blockquote,
figure {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: "liga" on;
  line-height: 1.8;
  font-size: 16px;
  color: #111;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 h6 {
  margin-top: 0;
  font-family: var(--font-serif);
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 0.5em 0;
}

h2 {
  margin: 1.5em 0 0.5em 0;
}

h3 {
  margin: 1.5em 0 0.5em 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  padding-left: 23px;
  margin-left: -23px;
  box-shadow: var(--link-color) 3px 0 0 0px inset;
  font-style: italic;
  word-break: break-word;
}

code {
  padding: 4px;
  border-radius: 4px;
  word-wrap: normal;
  background-color: var(--code-bg);
  font-family: var(--font-mono);
}

ul {
  list-style: none;
}

ul > li:before {
  position: absolute;
  content: "-";
  margin-left: -25px;
}

.mute {
  color: var(--color-mute);
}

.small {
  font-size: 0.8888888888888888em;
}
