:root {
  --color-selection: #79ffe1;
  --link-color: #0070f3;
  --font-serif: Lora, "Palatino Linotype", "Book Antiqua", "New York",
    "DejaVu serif", serif;
  --font-sans: "Open Sans", "Segoe UI", Tahoma, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 h6 {
  font-family: var(--font-serif);
  font-weight: normal;
}

hr {
  height: 1px;
  margin: 2rem auto;
}

::selection {
  background-color: var(--color-selection);
}
