.header {
  padding: 8px 1.6rem;
  opacity: 0.4;
  transition: 0.4s opacity;
}

.header:hover {
  opacity: 1;
}

.blogTitle {
  font-size: 1.6rem;
  font-family: var(--font-serif);
  font-weight: bold;
  color: #111;
}

.info {
  text-align: center;
  margin-top: 2.25rem;
  margin-bottom: 3rem;
}

.wrapper {
  max-width: 768px;
  padding: 0.5em 1.6rem;
  margin: 0 auto;
}

.body {
  margin-bottom: 8rem;
  word-wrap: break-word;
}
